langchain
langchain_community
langchain_core
langchain_openai
protobuf
PyPDF2
python-dotenv
streamlit
youtube_transcript_api
pathlib
google-generativeai
chromadb
beautifulsoup4
openai
faiss-cpu
altair
tiktoken
pysqlite3-binary
